<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/project">Project</a></li>
</ul>
 <header>
        <h1>
            Welcome to {{pageTitle}}
        </h1>
        current year:{{getCurrentYear}}
</header>